*
{
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

html, body
{
    
    background-color: #000020;
    color: #8d4925;
    
    font-family: Arial, sans-serif;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    
}

.divH2
{
    
    display: flex;
    justify-content: center;
    
    margin: 20px 0px;
    
}

h2
{
    
    color: #b96e48;
    
    font-size: 30px;
    
}

.container
{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
    gap: 20px;
    
    padding: 20px;
    
}

.container .barbeiro
{
    
    background-color: #b96e48;
    color: #19242f;
    
    border-radius: 15px;
    border: #19242f 3px solid;
    
    padding: 20px;
    
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    
    text-align: center;
    
    justify-content: space-between;
    
    gap: 20px;
    
    max-width: calc(50% - 20px);
    
}

.container .barbeiro h3 
{
    
    text-align: center;
    
    width: 100%;
    
}

.container .barbeiro img
{
    
    height: auto;
    max-width: calc(50% - 20px);
    
    border: #19242f 3px solid;
    border-radius: 15px;
    
}