/* Era para ser a paleta de cor, mas não usei todas se não me engano, não lembro, fui só vindo aqui e pegando a que eu queria e achava que combinava mais na hora (: */

*
{
    
    color: #19242f;
    color: #000020;
    color: #171a4a;
    color: #2f2c79;
    color: #8d4925;
    color: #b96e48;
    
}